@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Roboto");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 70%;
  margin: auto;
}
nav {
  position: fixed;
  width: 100%;
}
ul {
  background-color: black;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 45px;
}
a {
  display: block;
  padding: 14px 16px;
  color: #ffffff;
  text-decoration: none;
  float: left;
  padding-right: 10px;
  text-align: center;
}
.fa-product-hunt {
  font-size: 20px;
}
nav a:hover {
  background-color: #333;
}

/* hero img and hero text */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/music2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.hero-text h1 {
  letter-spacing: 2px;
  color: #fff;
  padding-top: 25vh;
  text-align: center;
  font-size: 4rem;
}
h2 {
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  padding-top: 5vh;
  font-size: 2rem;
}
p {
  letter-spacing: 1px;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 20px;
}
.hero-text a {
  border: 1px #c2185b solid;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-top: 30px;

  margin-left: 33rem;
}
.hero-text a:hover {
  background-color: #c2185b;
}
/* music */
.music {
  height: 160vh;
  background-color: #252529;
  color: #fff;
}
.music h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 30px;
}
.music a {
  border: 1px #c2185b solid;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-left: 36rem;
  background-color: #c2185b;
}
.music a:hover {
  background-color: #ad1457;
}
h4 {
  margin-top: 90px;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 30px;
}
.music img {
  margin-top: 7vh;
  width: 100%;
  border-radius: 50px;
}
.hand {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/hand.jpg);
  height: 53vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hand h1 {
  letter-spacing: 2px;
  font-size: 2rem;
  padding-top: 160px;
  text-align: center;
  color: #fff;
}
.hand p {
  margin-top: 40px;
}
footer {
  background-color: #000000;
  color: #fff;
}
footer .first {
  height: 45vh;
}
footer h1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-align: center;
  padding-top: 30px;
}
.h1 {
  margin-bottom: 50px;
}

footer .last {
  background-color: #333;
  height: 30vh;
}
.last img {
  border-radius: 10px;
  height: 200px;
  width: 300px;
}
